@media only screen and (max-width: 1139px) {
  header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    nav {
      float: none;
    }
  }
}
