section {
  width: 70%;
  margin: 0 auto 2em auto;
}

section:last-child {
  margin-bottom: 6em;
}

#play-therapy-image {
  width: 100%;
  max-width: 1200px;
}

#call-to-action {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  a:link {
    text-decoration: none;
    background-color: $accent-blue;
    color: white;
    padding: 1em;
    margin-bottom: 1em;
    border-bottom: none;
  }
  a:hover {
    background-color: $sage-green;
    border-bottom: none;
  }
  address {
    font-size: 1.3em;
    font-weight: 400;
  }
}

#profile-image {
  float: right;
  padding: 0 0 1em 1em;
  max-width: 400px;
  width: 100%;
}

.left {
  float: left;
  width: 48%;
}
.right {
  float: right;
  width: 48%;
}

.icon-box {
  display: flex;
  .icon-img {
    flex: 1;
    max-width: 1.5em;
  }
  .icon-content {
    flex: 4;
  }
}

.note {
  background-color: rgba($sage-green, .3);
  padding: 1em;
  border-left: 5px solid $sage-green;
  display: flex;
  margin-bottom: 1em;
  .note-icon {
    flex: 1;
    max-width: 2em;
  }
  .note-content {
    flex: 5;
  }
}
