table {
  border-collapse: collapse;
  border: 1px solid rgba($sage-green, .1);
}

th, td {
  padding: 0.5em;
  vertical-align: top;
}

th {
  background-color: $sage-green;
  text-align: left;
  font-weight: normal;
  // border: 1px solid #222;
}

td {
  border: 1px solid rgba($sage-green, .1);
}

tr:nth-child(even) {
  background-color: rgba($sage-green, .1);
}
