body {
  // font-family: 'Quicksand', sans-serif;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.5;
  color: $text-color;
}

h1, h2, h3 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
}

h1 {
  display: none;
}

h2 {
  border-bottom: 1px dashed $sage-green;
  text-align: center;
  padding: 1em 0 .2em 0;
  margin-bottom: 1em;
  font-size: 1.75em;
  // color: $sage-green;
  background-image: url("../images/bluestem-art-50sq.png");
  background-position: center;
  background-repeat: no-repeat;
  background-origin: border-box;
}

h3 {
  margin-bottom: .5em;
}

ul {
  margin-left: 1.25em;
}

ul + h3 {
  margin-top: 1.5em;
}

p {
  margin-bottom: 1em;
}

p:last-child {
  margin-bottom: 0;
}

address {
  font-style: normal;
  margin-bottom:1em;
}

section a:link, section a:visited {
  color: $accent-blue;
  text-decoration: none;
  // border-bottom: 1px solid $accent-blue;
}
section a:hover {
  color: $sage-green;
  border-bottom: 1px solid $sage-green;
}

.pdf-list {
  list-style-type: none;
  margin-left: 0;
  li {
    line-height: 3;
  }
}
