---
layout: default
---

<h2>Experience</h2>

{% for job in site.data.resume.jobs %}
<section>
  <h3>{{ job.title }}</h3>
  <p>{{ job.company }}</p>
  <p>{{ job.start }}&mdash;{{ job.end }}</p>
  <p>{{ job.location }}</p>
  <ul>
    {% for item in job.description %}
    <li>{{ item }}</li>
    {% endfor %}
  </ul>
</section>
{% endfor %}

<h2>Education</h2>

{% for item in site.data.resume.education %}
<section>
  <h3>{{ item.institution }}</h3>
  <p>{{ item.type }} in {{ item.discipline }}</p>
  <p>{{ item.location }}</p>
  <p>{{ item.start }}&mdash;{{ item.end }}</p>
  <p>{{ item.description }}</p>
</section>
{% endfor %}

<h2>Awards</h2>

{% for award in site.data.resume.awards %}
<section>
  <h3>{{ award.name }}</h3>
  <p>{{ award.outcome }}</p>
  <p>{{ award.date }}</p>
  <p>{{ award.institution }}</p>
  <p>{{ award.description }}</p>
</section>
{% endfor %}
