---
title: Payment Policies
---

<section>
  <h2>{{ page.title }}</h2>
  <p>Payment is due at time of service.</p>
  {% for entry in site.data.faqs %}
    {% if entry.question == "Do you accept insurance?" %}
      {% include note.html content=entry.answer %}
    {% endif %}
  {% endfor %}

</section>
<section>
  <h3>Session Fees</h3>
  <table>
    <thead>
      <tr>
        <th>Session</th>
        <th>Fee</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Initial consultation (by phone or in person)</td>
        <td>
          <ul>
            <li>Up to 30 minutes free of charge</li>
            <li>&#36;15 for each additional 15 minutes</li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>55-minute individual session</td>
        <td>&#36;125</td>
      </tr>
      <tr>
        <td>One-hour parent meeting</td>
        <td>&#36;50</td>
      </tr>
    </tbody>
  </table>
</section>
<section>
  <h3>Cancellation &amp; No-Show Policy</h3>
  <p>Although unanticipated conflicts sometimes arise, it is the expectation that you will contact Anne Drake, LCSW to cancel scheduled appointments. 24-hour notice is required for cancellations. If you do not cancel and then do not come to an appointment, a &#36;45 Cancellation Fee will be charged to your debit/credit card on file. Cancellation due to emergency, sudden illness, or severe weather may be considered exceptions. More than 3 missed appointments in one month may result in losing your reserved time.</p>
</section>
<section>
  <h3>Phone &amp; Email Communication</h3>
  <p>Phone calls and/or emails to or from you, or on your behalf, that are less than 15 minutes will be considered a free consultation within reason. Phone calls and/or emails that are 15 minutes or longer are subject to a &#36;45 consultation charge. These fees will be charged directly to your debit/card on file.</p>
</section>
<section>
  <h3>School Meetings &amp; Consultations</h3>
  <p>Anne Drake, LCSW, <a href="about.html">holds a Professional Educator License</a> in School Social Work and Education of the Deaf/Hard of Hearing. She is available to attend school meetings and provide consultation. These fees are <strong>not covered by insurance</strong>.</p>
  <table>
    <thead>
      <tr>
        <th>Service</th>
        <th>Fee</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>School meetings</td>
        <td>&#36;50/hour</td>
      </tr>
      <tr>
        <td>Verification of services (letter for schools)</td>
        <td>&#36;25</td>
      </tr>
      <tr>
        <td>Progress reports or evaluations</td>
        <td>&#36;25</td>
      </tr>
    </tbody>
  </table>
</section>
<section>
  <h3>Out-of-network Insurance</h3>
  <p>For out-of-network insurance plans, you will be provided with a receipt, known as a superbill, that you
can turn into your insurance company for reimbursement, according to your plan specifications.</p>
</section>
<section>
  <h3>Payment Methods</h3>
  <p>Payment by cash or check is due at the time of service and the receipt will be provided by email following the service. Please note that a &#36;25.00 fee will be added to your account for each check that is returned.</p>
  <p>Payment made by credit card will be charged following the service with an emailed receipt as confirmation. Payment made by credit will be assessed a 2&#37; service fee to cover the cost of transactions.</p>
  <p>Anne Drake, LCSW, contracts with ANE Credentialing and Billing to process all payments. ANE Credentialing and Billing has an authorized Business Associates Agreement with Anne Drake, LCSW, to comply with HIPAA requirements to protect your health and financial information.</p>
</section>
<section>
  <h3>Debit/Credit Card</h3>
  <p>It is required that a debit/credit card is kept on file. All debit/credit card information is kept securely. Regular session fees <strong>will not</strong> be charged to this card without your permission.</p>
</section>
