/* Colors
sage green: #91bc9b;
accent blue: #246fa3;
*/

/* 1 em = default 16px */
/* recommended line length = 30 em */

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Quicksand');

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  line-height: 1.5em;
  color: #222;
}

header {
  background-image: url("../images/bluestem-cropped.png");
  background-size: cover;
  width: 100%;
  text-align: center;
  height: 400px;
  margin-bottom: 20px;
}

h1, h2, h3 {
  font-family: 'Josefin Sans', sans-serif;
}

h1 {
  color: #fff;
  font-size: 2.5em;
  margin: auto;
  padding-top: 150px;
  padding-bottom: 20px;
}

h2 {
  font-size: 1.75em;
  text-align: center;
  border-bottom: 1px dashed #91bc9b;
  padding-bottom: .5em;
  margin-bottom: 1em;
}

main {
  background-color: #fff;
  width: 80%;
  margin: auto;
}

section {
  padding: 20px;
  margin-bottom: 20px;
}

blockquote {
  background-color: #eee;
  padding: 1.25em;
  margin: 1em 0;
}

ul {
  margin: 1em 1.25em 2em 1.25em;
}

a {
  color: #246fa3;
  text-decoration: none;
  border-bottom: 1px solid #246fa3;
  padding-bottom: 2px;
}

nav {
  margin: 2em 0;
}

nav a:link {
  background-color: #91bc9b;
  margin: 0.5em;
  padding: 0.5em;
  color: #fff;
  border: none;
}

nav a:hover {
  background-color: #246fa3;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #eee;
}

#slogan {
  /* font-style: italic; */
  color: #fff;
  font-size: 1.5em;
  font-family: 'Josefin Sans', sans-serif;
  /* position: relative; */
  padding-top: 20px;
}

#two-column {
  background-color: #FFB7CF;
  border: 1px black solid;
  padding: 20px;
}

#left {
  /* background-color: #E582A2; */
  /* border: 1px black solid; */
  /* padding: 20px; */
  float: left;
  width: 52%;
}

#right {
  /* background-color: #E55B88; */
  /* border: 1px black solid; */
  /* padding: 20px; */
  float: right;
  width: 40%;
}

#profile-image {
  max-width: 20em;
  width: 100%;
  float: right;
  margin: 0 0 10px 20px;
}

#call-to-action {
  text-align: center;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
