header {
  // background-color: $primary;
  #header-content {
    // color: white;
    width: 80%;
    margin: auto;
    display: flex;
    padding: 1em 0;
    justify-content: space-between;
    align-items: center;
  }
  nav {
    a {
      text-decoration: none;
      padding: 1em;
    }
    a:link, a:visited {
      color: #222;
    }
    a:hover {
      background-color: $color-wheel-green;
    }
  }
}
