@media only screen and (max-width: 639px) {
  body {
    font-size: 1.2em;
  }
  header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    nav {
      float: none;
      // display: none;
      a:link {
        display: block;
        text-align: left;
        font-size: 1.3em;
      }
    }
  }
  #hero {
    display: none;
  }
  #play-therapy-image {
    display: none;
  }
  iframe {
    max-width: 90%;
    max-height: 300px;
  }
  #profile-image {
    max-width: 90%;
  }
  footer {
    #footer-content {
      width: 90%;
      p {
        text-align: left;
      }
    }
  }
  .left {
    float: none;
    width: 100%;
    margin-bottom: 1em;
  }
  .right {
    float: none;
    width: 100%;
  }
}
