/* Colors
sage green: #91bc9b;
accent blue: #246fa3;
*/

/* 1 em = default 16px */
/* recommended line length = 30 em */

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Quicksand');

* {
  padding: 0;
  margin: 0;
}

body {
  /*background-color: #91bc9b;*/
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  line-height: 1.5em;
  color: #222;
}

header {
  background-color: #91bc9b;
  width: 100%;
  text-align: center;
}

h1, h2, h3 {
  font-family: 'Josefin Sans', sans-serif;
}

h1 {
  color: #fff;
  font-size: 1.75em;
  margin: auto;
  padding-top: 1em;
}

h2 {
  font-size: 1.75em;
  text-align: center;
  border-bottom: 1px solid #91bc9b;
  padding-bottom: .5em;
  margin-bottom: 1em;
}

main {
  background-color: #fff;
  width: 80%;
  margin: auto;
}

section {
  /*border-bottom: 1px solid #246fa3;*/
  padding: 20px;
  margin-bottom: 20px;
}

blockquote {
  background-color: #eee;
  padding: 1.25em;
  margin: 1em 0;
}

ul {
  margin: 1em 1.25em 2em 1.25em;
}

a {
  color: #246fa3;
  text-decoration: none;
  border-bottom: 1px solid #246fa3;
  padding-bottom: 2px;
}

nav {
  margin: 1em 0;
}

nav a {
  /*background-color: #246fa3;*/
  margin: 0.5em;
  color: #fff;
  border: none;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #eee;
}

#hero {
  background-image: url("../images/bluestem-cropped.png");
  background-size: cover;
  height: 400px;
  text-align: center;
  line-height: 5em;
  margin-bottom: 20px;
}

#slogan {
  font-style: italic;
  color: #fff;
  font-size: 1.5em;
  font-family: 'Josefin Sans', sans-serif;
  position: relative;
  top: 40%;
}

#profile-image {
  width: 20em;
  float: right;
  margin: 0 0 10px 20px;
}

#call-to-action {
  text-align: center;
  clear: right;
}

#call-to-action a {
  background-color: #246fa3;
  padding: 1em;
  color: #fff;
}

.treatment {
  list-style-type: none;
}

.treatment li {
  background-color: #91bc9b;
  padding: 10px;
  margin: 10px 0;
  color: #fff;
  display: inline-block;
}
